body {
  margin: 0;
  padding: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  margin-block-start: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.cs-logo {
  padding-top: 50px;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color: #000;
  text-decoration:none;
  cursor: pointer;
}

i {
  font-size:3rem;
}

.button {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

.button:hover {
  background-color: #fff;
}

.button:focus {
  border-color: #dee2e6;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
