<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header {
            text-align: center;
            margin-bottom: 10px;
        }
        .subheader {
            text-align: center;
            margin-bottom: 10px;
        }
        .logo {
            display: block;
            margin: 0 auto;
            max-width: 150px;
            height: auto;
        }
    </style>    
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/citizendevlogo.png" alt="Logo" class="logo">
            <h1>CitizenDev</h1>
        </div>
        <div class="subheader">
            <h2>Signup</h2>
        </div>        
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Invalid or duplicate username or password!
            </div>
        {% endif %}
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <a href="{{ url_for('login') }}" class="btn btn-link">Login</a>
        </form>
    </div>
</body>
</html>
