<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header {
            text-align: center;
            margin-bottom: 10px;
        }
        .subheader {
            text-align: center;
            margin-bottom: 10px;
        }
        .logo {
            display: block;
            margin: 0 auto;
            max-width: 150px;
            height: auto;
        }
        .about-section {
            margin-top: 30px;
            padding: 20px;
            background-color: #f7f7f7;
            border-radius: 10px;
        }        
    </style>    
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/citizendevlogo.png" alt="Logo" class="logo">
            <h1>CitizenDev</h1>
        </div>
        <div class="subheader">
            <h2>Signup</h2>
        </div>        
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Invalid or duplicate username or password!
            </div>
        {% endif %}
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <a href="{{ url_for('login') }}" class="btn btn-link">Login</a>
        </form>
        <br/>        
        <!-- About Section -->
        <div class="about-section">
            <div class="row">
                <div class="col-md-12">
                    <h2>The Citizen Developer Programme</h2>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h4>Welcome Message from Code.Sydney</h4>
                    <p>Join us and become citizen developers to develop solutions for problems worth solving, one app at a time.</p>
                    <iframe width="176" height="315" src="https://www.youtube.com/embed/1s--MdspfNI" frameborder="0" allowfullscreen></iframe>
                    <p></p>
                </div>
                <br/>   
                <br/>                                                
                <div class="col-md-12">                                        
                    <h4>How to join</h4>                    
                    <p>Register anytime, learn at your pace and join our <a href="https://discord.gg/yHNKkvMN5e">Discord</a> community to engage in discussions about your progress.</p>
                </div>
                <br/>   
                <br/>                                                
                <div class="col-md-12">
                    <h5>Courses from Prof. Charles Severance</h5>
                    <img src="/static/drchuck.jpg" alt="Prof. Charles Severance" width="176" height="176" />
                    <p>We will be using free Python and Django courses from Professor Charles Severance, also known as <a href="https://www.dr-chuck.com/" target="_blank">Dr. Chuck</a>, is a well-known figure in the field of computer science and online education. He has made significant contributions to the development of educational platforms and resources, particularly in programming and web technologies.</p>
                    <p>Dr. Chuck has been involved in various educational initiatives, including creating and teaching online courses on platforms like Coursera, edX, and Sakai. He is particularly recognised for his work in the area of Python programming, and his courses have attracted a wide audience of learners from around the world.</p>
                    <p>In addition to his teaching and educational efforts, Dr. Chuck has been involved in research, writing, and speaking engagements focused on topics such as web development, learning analytics, and online education. Overall, Professor Charles Severance is a prominent figure in the intersection of computer science and education, known for his contributions to both fields.</p>
                </div>
            </div>
            <br/>   
            <!-- Course Details -->
            <div class="row">
                <div class="col-md-12">
                    <h5>CitizenDev 1 | Python for Everybody</h5>
                    <a href="https://www.py4e.com/lessons" target="_blank" style="font-size: 10px;">Link to PY4E Course</a> 
                    <ul>
                        <li>1 | Getting Started</li>
                        <li>2 | Why Program?</li>
                        <li>3 | Variables, expressions and statements</li>
                        <li>4 | Conditional Execution</li>
                        <li>5 | Functions</li>
                        <li>6 | Loops and Iterations</li>
                        <li>7 | Strings</li>
                        <li>8 | Files</li>
                        <li>9 | Lists</li>
                        <li>10 | Dictionaries</li>
                        <li>11 | Tuples</li>
                        <li>12 | Regular Expressions</li>
                        <li>13 | Network Programming</li>
                        <li>14 | Using Web Services</li>
                        <li>15 | Object-Oriented Programming</li>
                        <li>16 | Databases</li>
                        <li>17 | Data Visualization</li>
                    </ul>
                    <h5>CitizenDev 2 | Django for Everybody</h5>
                    <a href="https://www.dj4e.com/lessons" target="_blank" style="font-size: 10px;">Link to DJ4E Course</a>
                    <ul>
                        <li>18 | 1: Welcome to Django for Everybody</li>
                        <li>19 | 2: Introduction to Dynamic Web Content</li>
                        <li>20 | 3: Installing Django on PythonAnywhere</li>
                        <li>21 | 4: Using the Command Line Shell on PythonAnywhere</li>
                        <li>22 | 5: HyperText Markup Language (HTML)</li>
                        <li>23 | 6: Cascading Style Sheets (CSS)</li>
                        <li>24 | 7: Basic SQL</li>
                        <li>25 | 8: Django Data Models</li>
                        <li>26 | 9: Understanding Model View Controller (MVC)</li>
                        <li>27 | 10: Django Views and Templates</li>
                        <li>28 | 11: Object-Oriented Programming in Python</li>
                        <li>29 | 12: Django Generic Views</li>
                        <li>30 | 13: Forms in HTTP and HTML</li>
                        <li>31 | 14: Cookies and Sessions</li>
                        <li>32 | 15: One-To-Many Data Models</li>
                        <li>33 | 16: Django Users and Authentication</li>
                        <li>34 | 17: Form Objects in Django</li>
                        <li>35 | 18: Autos CRUD Application</li>
                        <li>36 | 19: Cats CRUD and Concept Review</li>
                        <li>37 | 20: Putting Django Projects into GitHub (Optional)</li>
                        <li>38 | 21: Installing Django locally (Optional)</li>
                        <li>39 | 22: Owned Rows</li>
                        <li>40 | 23: Classified Ads #1</li>
                        <li>41 | 24: JavaScript</li>
                        <li>42 | 25: Object Oriented Programming in JavaScript</li>
                        <li>43 | 26: Classified Ads + Pictures</li>
                        <li>44 | 27: Many-To-Many Data Models</li>
                        <li>45 | 28: Classified Ads + Comments</li>
                        <li>46 | 29: JavaScript and the Browser</li>
                        <li>47 | 30: JSON / AJAX</li>
                        <li>48 | 31: Classified Ads #3</li>
                        <li>49 | 32: Classified Ads #4</li>
                        <li>50 | 33: Building an Application on Your Own</li>                                                                                                                                                                        
                        <li>51 | 34: Project Overview</li>
                        <li>52 | 35: Project Milestone 2</li>
                        <li>53 | 36: Project Milestone 3</li>
                        <li>54 | 37: Project Milestone 4</li>                                                                                                                                                                        
                        <li>55 | 38: Project Milestone 5 - Project Review</li>
                        <li>56 | 39: Project Milestone 6 - Final Report</li>
                        <li>57 | 40: MDN Tutorial (Legacy)</li>
                    </ul>
                </div>
            </div>

        </div>
        

    </div>
</body>
</html>
