<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .small-row td {
            font-size: 80%; /* You can adjust the font size as needed */
        }
        .header {
            text-align: center;
            margin-bottom: 10px;
        }
        .subheader {
            text-align: center;
            margin-bottom: 10px;
        }
        .logo {
            display: block;
            margin: 0 auto;
            max-width: 150px;
            height: auto;
        }
    </style>   
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/citizendevlogo.png" alt="Logo" class="logo">
            <h1>CitizenDev</h1>
        </div>
        <div class="subheader">
            <h2>Update Status</h2>
        </div>  
        <br/>
        <h5>CitizenDev {{ username }}</h5>                
        <form method="post">
            {% for i in range(1, 58) %}
                <div class="mb-3">
                    <label for="status{{ i }}" class="form-label">{{ i }}</label>
                    <select class="form-select" id="status{{ i }}" name="status{{ i }}">
                        <option value="To Do" {% if user[i + 2] == 'To Do' %} selected {% endif %}>To Do</option>
                        <option value="Done" {% if user[i + 2] == 'Done' %} selected {% endif %}>Done</option>
                    </select>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
                
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Cancel</a>
        <br>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>
